[Desktop Entry]
Encoding=UTF-8
Name=Lexcoin Core
Comment=Lexcoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem Lexcoin peer-to-peer Netzwerk
Comment[fr]= Lexcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]= Lexcoin, eşten eşe kriptografik sanal para birimi
Exec= Lexcoin-qt %u
Terminal=false
Type=Application
Icon= Lexcoin128
MimeType=x-scheme-handler/Lexcoin;
Categories=Office;Finance;
